{% extends 'common.html' %}
    {% block title %}My Appointment{% endblock title %} 
    {% block content %}
    {% load static %}

{% comment %} {% extends 'common.html' %}

    {% block title %}Display Appointment{% endblock title %}
    {% block content %}
    {% load static %}

    {% if appointment_all %}
    {% for appointment in appointment_all %}
    {{appointment.description}}
    {% endfor %}
    {% endif %}

    {% endblock %} {% endcomment %}

    
  
      <section class="section main-section" style="margin-top: 10vh;">
          <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6" style="padding-top: 5vh;">
              <div class='card'>
                  <div class="card-content">
                      <div class="flex items-center justify-between">
                          <div class="widget-label">
                              <table class="table table-striped table-hover mx-auto px-auto">
                                  <thead bgcolor="#969cad">
                                      <th>
                                          Appointment ID
                                          
                                      </th>
                                      <th>SERVICE OPTION</th>
                                      <th>REQUESTED DATE</th>
                                      <th>APPROVED DATE</th>
                                      
                                        <th>APPROVED TIME</th>
                                        <th>DESCRIPTION</th>
                                        <th>DOCTOR IN CHARGE</th>
                                      
                                      <th>DOCTORS REMARK</th>
                                      
                                  </thead>
                                  {% if appointment_all %}
                                      {% for appointment in appointment_all %}
                                      <tr>
                                          <td>
                                              <span style="color: #969cad;" class= "font-weight-bold">
                                                  TCH0{{appointment.appointment_id}}
                                              </span>
                                          </td>
                                          
                                          <td>
                                              <span style="color: #969cad;" class= "font-weight-bold">
                                                  {{appointment.service_option}}
                                              </span>
                                          </td>
                                          <td>
                                              <span style="color: #969cad;" class= "font-weight-bold">
                                                  {{appointment.requested_date}} 
                                              </span>
                                          </td>
  
                                         
                                          <td>
                                              <span style="color: #969cad;" class= "font-weight-bold">
                                                  {{appointment.approved_date}}
                                              </span>
                                          </td>
                                          <td>
                                            <span style="color: #969cad;" class= "font-weight-bold">
                                                {{appointment.approved_time}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class= "font-weight-bold">
                                                {{appointment.description}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class= "font-weight-bold">
                                                {{appointment.hod}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class= "font-weight-bold">
                                                {{appointment.doctors_remark}}
                                            </span>
                                        </td>
                                      </tr>
                                      {% endfor %}
                                  {% endif %}
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    {% endblock %}