{% extends 'common.html' %}
{% block content %}
{% load static %}

<section class="row my-4">
    {% if userprofile %}
    {% for profile in userprofile  %}
    <div class="shadow border col-sm-12 col-md-4 pt-3" style="height: auto; margin: auto;">
        <div class=" container-fluid d-flex py-4">
            <div class=" border border-primary rounded-circle " style="height: 100px; width: 100px;">
                {% if profile.profile_passport %}
                <img src="{{profile.profile_passport.url}}" alt="{{profile.user.username}}" width="100px" height="100px"/>
                {% else %}
                <img src="{% static '/img/person/person_1.jpg' %}" alt="" width="100px" height="100px"/>
                {% endif %}
            </div>
            <h5 class="align-self-center mx-3">Profile Details</h5>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    {% if profile.staff == 1 %}
                    <td class="py-3" style="width: 150px;">Staff ID:</td>
                    <td class="py-3" >TCH-0{{profile.user_id}}</td>
                    {% else %}
                    <td class="py-3" style="width: 150px;">Patient ID:</td>
                    <td class="py-3" >TCH-0{{profile.user_id}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="py-3" style="width: 150px;">Username:</td>
                    <td class="py-3">{{profile.user.username}}</td>
                </tr>
                <tr>
                    <td class="py-3" style="width: 150px;">Acccount Name:</td>
                    <td class="py-3" style="width: 150px;">{{profile.user.first_name}} {{profile.user.last_name}}</td>

                </tr>
                <tr>
                    <td class="py-3" style="width: 150px;">Email:</td>
                    <td class="py-3" style="width: 150px;">{{profile.user.email}}</td>
                </tr>
                <tr>
                    <td class="py-3" style="width: 150px;">Phone:</td>
                    <td class="py-3">{{profile.phone}}</td>
                </tr>
                <tr>
                    <td class="py-3" style="width: 150px;">Address:</td>
                    <td class="py-3">{{profile.address}}</td>
                </tr>
                {% if request.user.is_superuser or request.user.is_staff %}
                <tr>
                    <td class="py-3" style="width: 150px;">Position:</td>
                    <td class="py-3">{{profile.position}}</td>
                </tr>
                <tr>
                    <td class="py-3" style="width: 150px;">Department:</td>
                    <td class="py-3">{{profile.department}}</td>
                </tr>
                <tr>
                    <td class="py-3" style="width: 150px;">Particulars:</td>
                    <td class="py-3">{{profile.particulars}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <div class= "field">
            <div class ="control d-flex justify-content-center gap-2 py-4">
                {% if request.user.is_superuser %}
                <a href="{% url 'edit_account' profile.user.id %}">
                    <button type="submit" class="btn btn-primary">
                        Edit account
                    </button>
                </a>
                <a href="#">
                    <button type="submit" class="btn btn-primary mx-5">
                        Deactivate
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>
{% endblock %}